<?xml version="1.0" encoding="utf-8"?>
	<!-- [OVERVIEW] Chocolatey configuration file.
	I install Chocolatey packages defined in this file:
	https://superuser.com/a/1132468/572069
	https://docs.chocolatey.org/en-us/choco/commands/install#packages.config

	[NOTE] Comments must be placed after XML declaration. Otherwise, error:
	“XML declaration allowed only at the start of the document”
	-->
	<packages>
		<!-- [INFO] “fd” — user-friendly alternative “find” command. See “travis-install.sh” for details.

		[INFO] “xargs” required for running “fd”. xargs exists and its path added to “%PATH%”
		by default on AppVeyor:
		https://ci.appveyor.com/project/Kristinita/sashaappveyordebugging/builds/48896902#L32
		-->
		<package id="fd" />

		<package id="nodejs" />

		<package id="xsltproc" />
	</packages>
