{# [OVERVIEW] google-custom-translate widget — translating web pages by click, using Google Translate:
https://get-web.site/blog/29-kastomnyj-vidzhet-googletranslate-dlja-sajta.html

[WARNING] This version of the script will not work in the future Chrome versions:
“Reading cookie in cross-site context will be blocked in future Chrome versions” and
“Setting cookie in cross-site context will be blocked in future Chrome versions”
https://github.com/get-web/google-translate-custom-widget/issues/7

[INFO] Use “class="notranslate"” to prevent that element from being translated
and “<meta name="google" value="notranslate">” if you have an entire page that should not be translated:
https://github.com/get-web/google-translate-custom-widget#more


[INFO] Configurations for web pages in Russian and English

[PATCH] “gtcw-accessibility” — patch GTCW acessibility problems

[REQUIRED] js-cookie. Widget works solely with cookies

[INFO] I moved “element.js” to a separate script from “google-translate.js”.

[LEARN][JS] Link to script inside script is antipattern,
because the user is deprived of the opportunity to download this script in a way convenient for him,
for example, via “Defer.js”


[FIXME][NOTE] “WAVE evaluation tool” Firefox extension shows
“Missing form label” and “Language missing or invalid” errors:
https://i.imgur.com/TTZGX5L.png

#}

<!-- Translate GCTW scripts -->

{% if kira_object.lang == "ru" %}
	<script>
		Defer.js('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/google-translate-custom-widget/gtcw-ru{{ MIN }}.js', 'gtcw-ru', 400);
	</script>
{%else%}
	<script>
		Defer.js('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/google-translate-custom-widget/gtcw-en{{ MIN }}.js', 'gtcw-en', 400);
	</script>
{% endif %}

<script>
	Defer.js('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/google-translate-custom-widget/gtcw-accessibility{{ MIN }}.js', 'gtcw-accessibility', 700);
	Defer.js('https://cdn.jsdelivr.net/gh/Kristinita/google-translate-custom-widget@KiraSeparateConfigAndTranslateScript/nativejs/js/google-translate.min.js', 'gtcw', 700);
	Defer.js('https://cdn.jsdelivr.net/npm/js-cookie/dist/js.cookie.min.js', 'js-cookie', 1000);
	Defer.js('https://translate.google.com/translate_a/element.js?cb=TranslateWidgetIsLoaded', 'google-translate-element', 1000);
</script>
