{# [INFO] AddToAny buttons.

[LEARN][HTML] “aside” — a tag for these buttons:
https://stackoverflow.com/a/18974422/5951529

[LEARN][ACCESSIBILITY] Using multiple aside is possible:
https://stackoverflow.com/a/27688129/5951529

[LEARN][ACCESSIBILITY] Don’t use “role="presentation"” for “.KiraAddToAny”.
If we want to tell screen reader users that certain code is being used
purely for decorative purposes, the “presentation” value for the role
attribute does just that:
[LINK] Ashley Firth — Practical Web Inclusion and Accessibility (Apress, 2019)
[PAGE] 323

Pa11y shows the error:
“This element's role is "presentation" but contains child elements with semantic meaning.
WCAG2AA.Principle1.Guideline1_3.1_3_1.F92,ARIA4”


[NOTE] I use a stub “href="<my link>”
for a passing Lighthouse “seo/is-crawable” audit:
https://developers.google.com/search/docs/crawling-indexing/links-crawlable

Without of a this stub I get an error in Lighthouse tests:
“Links are not crawlable”:
https://i.imgur.com/rsWtj2O.png

AddToAny overwrites all links after loading. The stub doesn’t affect AddToAny functionality.

[NOTE] I use a stub “aria-label="<my link description>”"”
for a passing Lighthouse “accessibility/link-name” audit:
https://dequeuniversity.com/rules/axe/4.8/link-name

Without of a this stub I get an error in Lighthouse tests:
“Links do not have a discernible name”:
https://i.imgur.com/FZ8lTq8.png

[INFO] Don’t use the same “href” value for all AddToAny links.
WAVE (Web accessibility evaluation tool) will show “Redundant link” warning:
https://app.pope.tech/result-documentation/articles/redundant-link
#}

<!-- AddToAny buttons -->

<aside class="KiraAddToAny">
	<div class="a2a_kit a2a_kit_size_17 a2a_floating_style a2a_vertical_style">
		<a class="a2a_button_mastodon" href="https://joinmastodon.org/" aria-label="Share this web page on Mastodon"></a>
		<a class="a2a_button_diaspora" href="https://diasporafoundation.org/" aria-label="Share this web page on diaspora*"></a>
		<a class="a2a_button_meneame" href="https://meneame.net" aria-label="Share this web page on Menéame"></a>
		{# [NOTE] Care2 removed from AddToAny:
		https://www.addtoany.com/buttons/for/website

		<a class="a2a_button_care2_news" href="https://care2.com/" aria-label="Share this web page on Care2”"></a> #}
		<a class="a2a_button_copy_link" href="https://www.addtoany.com/services/copy_link_button" aria-label="Copy link to this web page"></a>
		<a class="a2a_button_printfriendly" href="https://printfriendly.com/" aria-label="Print or convert to PDF this web page use PrintFriendly service"></a>
		<a class="a2a_dd" href="https://www.addtoany.com/services/" aria-label="Select a web-service to share this page on it"></a>
	</div>
</aside>
